package templates

templ Home() {
	@Base(homeContent())
}

templ homeContent() {
	@Hero()
	@Scheduler()
	@ProductsShowcase()
	@ProductsByCategory()
	@Solutions()
	@Product()
	@WhyChoose()
	@Projects()
	@Partners()
	@CTA()
	@About()
}
