package templates

templ Home() {
	@Base(homeContent())
}

templ homeContent() {
	@Hero()
	@Scheduler()
	@ProductsBrands()
	@Solutions()
	@WhyChoose()
	@Projects()
	@Partners()
	@CTA()
	@About()
	@Contact()
}
